.header{

    height:80px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    box-shadow:
        0 2px 12px rgba(
            0,
            0,
            0,
            0.08
        );

    position:sticky;

    top:0;

    z-index:100;
}

/* LEFT */

.header-left h2{

    margin:0;

    color:#1e293b;

    font-size:24px;
}

.header-left p{

    margin-top:5px;

    color:#64748b;

    font-size:14px;
}

/* RIGHT */

.header-right{

    display:flex;

    align-items:center;

    gap:20px;
}

/* ICONS */

.header-icon{

    position:relative;

    font-size:20px;

    color:#475569;

    cursor:pointer;
}

.header-icon:hover{

    color:#2563eb;
}

/* BADGE */

.badge{

    position:absolute;

    top:-8px;

    right:-10px;

    background:#dc2626;

    color:white;

    font-size:11px;

    padding:2px 6px;

    border-radius:50px;

    font-weight:bold;
}

/* USER */

.user-info{

    display:flex;

    align-items:center;

    gap:10px;

    background:#f8fafc;

    padding:8px 15px;

    border-radius:30px;

    font-weight:500;

    color:#1e293b;
}

.user-info svg{

    font-size:24px;

    color:#2563eb;
}