.stat-card{
flex:1;
min-width:150px;
max-width: 220px;
background:white;
padding:20px;
border-radius:12px;
text-align:center;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
transition:0.3s;
}

.stat-card:hover{
transform:translateY(-5px);
}

.stat-card h2{
font-size:32px;
margin-bottom:10px;
}

.stat-card p{
font-weight:bold;
color:#555;
}


